Sphinx==7.0.1

#https://github.com/executablebooks/sphinx-tabs/archive/refs/tags/v3.0.0.tar.gz
sphinx-tabs==3.4.1

sphinx_rtd_theme==1.2.2

#After this version added the default 'ascii' parameter to the imgmath module, documentation can't build.
# Sphinx==4.3.0


# Need to check this out
# myst-parser==2.0.0


#sphinx
#cloud_sptheme

# support for http://wavedrom.com
#sphinxcontrib-wavedrom

